
.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( 'images/loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: gray;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}



/* .loading-indicator {
	height: 48px;
	width: 48px;
	background: url( '../../art/cargando2.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40);
} */